In [1]:
# Librerias

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from loguru import logger

import warnings
warnings.simplefilter("ignore")

%matplotlib inline

**estado_alumno_2010_2017_previo**

In [2]:
dct_cols = {
    'RUT':'rut',
    'Estado a 1sem 2018':'estado',
    'Prueba de Comprensión Lectora':'prueba_comprension_lectora',
    'Prueba diag. Matemática':'prueba_matematica',
    'Test de Autoestima Académica':'test_autoestima_academica',
    'Test de Autoestima General':'test_autoestima_general',
    'Test de Estudio metódico':'test_estudio_medico',
    'Test de Lawson':'test_lawson',
    'Nombre':'nombre',
    'Cohorte de Ingreso':'ingreso',
    'NEM':'nem',
    'Puntaje de Ingreso':'puntaje_ingreso',
    'Puntaje PSU': 'puntaje_psu',
    'Preferencia Postulación':'preferencia',
    'Puntaje PSU MAT':'psu_matematica',
    'Puntaje PSU LENG':'psu_lenguaje',
    'Nombre Región':'region',
    'Tipo Colegio':'tipo_colegio',
    'Año Egreso EM':'egreso',
    'BECA BICENTENARIO':'beca_bicentenario',
    'BECA DAMNIFICADOS':'beca_damnificados',
    'BECA EXCELENCIA ACADEMICA':'beca_excelencia_academica',
    'BECA INFORME VALECH':'beca_informe_valech',
    'BECA ISABEL CACES DE BROWN':'beca_isabel_caces_de_brown',
    'BECA JUAN GOMEZ MILLAS':'beca_juan_gomez_millas',
    'BECA PUCV':'beca_pucv',
    'BENEFICIO GRATUIDAD':'beneficio_gratuidad',
    'CREDITO CON GARANTIA ESTATAL':'credito_con_garantia_estatal',
    'F. S. CREDITO UNIVERSITARIO':'credito_universitario',
    'HIJO PROFESIONALES EDUCACION':'hijo_profesionales_educacion',
    'PREMIO AL INGRESO DESTACADO':'premio_al_ingreso_destacado',

}

logger.info("definir rutas de trabajos")

path_data = '../data/'

logger.info("leer datos")
df = pd.read_csv(path_data + 'estado_alumno_2010_2017_previo.csv',sep=',',encoding='Latin-1')

2024-03-27 21:03:49.089 | INFO     | __main__:<module>:36 - definir rutas de trabajos
2024-03-27 21:03:49.092 | INFO     | __main__:<module>:40 - leer datos

In [3]:
logger.info("preprocesamiento")
df = df[dct_cols.keys()].rename(columns = dct_cols)
df= df.replace('Sin información',np.nan)


# valores numericos

cols_num = [
    'nem',
       'puntaje_ingreso', 'puntaje_psu', 'preferencia', 'psu_matematica',
       'psu_lenguaje'
]

for col in cols_num:
    df[col] = df[col].str.replace(',','.').astype(float)
    
    
cols_porcentaje = [
    'beca_bicentenario',
       'beca_damnificados', 'beca_excelencia_academica', 'beca_informe_valech',
       'beca_isabel_caces_de_brown', 'beca_juan_gomez_millas', 'beca_pucv',
       'beneficio_gratuidad', 'credito_con_garantia_estatal',
       'credito_universitario', 'hijo_profesionales_educacion',
       'premio_al_ingreso_destacado'
]

for col in cols_porcentaje:
    df[col] = df[col].str.replace('%','').str.strip().astype('int')
    
df.loc[lambda x: x.rut == 19667341,'estado'] = 'Desertor'

2024-03-27 21:03:49.135 | INFO     | __main__:<module>:1 - preprocesamiento

In [4]:
df.to_csv(path_data + 'estado_alumno_2010_2017_previo_clean.csv',index=False,sep=',')

**estado_del_alumno_2018_1s**

In [5]:
logger.info("definir rutas de trabajos")

path_data = '../data/'

logger.info("leer datos")
df = pd.read_csv(path_data + 'estado_del_alumno_2018_1s.csv',sep=',',encoding='Latin-1')

print(len(np.unique(df['id'])))

2024-03-27 21:03:49.195 | INFO     | __main__:<module>:1 - definir rutas de trabajos
2024-03-27 21:03:49.196 | INFO     | __main__:<module>:5 - leer datos

695

In [6]:
logger.info("preprocesamiento")

def estado_temporal(nivel_alumno,ultimo_nivel,estado):
    if nivel_alumno!=ultimo_nivel:
        return 'Matriculado'
    else:
        return estado

dct_cols = {
    'id':'rut',
    'Cohorte de Ingreso':'ingreso',
    'Estado a 1sem 2018':'estado',
    'curso':'sigla',
    'creditos':'creditos',
    'nivel_original':'nivel_original',
    'nivel':'nivel_alumno',
    'nota':'nota',
    'oportunidad':'oportunidad',
    'aprueba':'aprueba',
    
}

dct_ingreso = {
    2010:16,
    2011:14,
    2012:12,
    2013:10,
    2014:8,
    2015:6,
    2016:4,
    2017:2
}

df = df[dct_cols.keys()].rename(columns = dct_cols).sort_values(['ingreso','rut','nivel_alumno'])
df['nota'] = df['nota'].str.replace(',','.').astype(float)
df['max_semestres'] = df['ingreso'].apply(lambda x:dct_ingreso[x] )


df.head()

2024-03-27 21:03:49.244 | INFO     | __main__:<module>:1 - preprocesamiento

,rut,ingreso,estado,sigla,creditos,nivel_original,nivel_alumno,nota,oportunidad,aprueba,max_semestres
121,16275905,2010,Desertor,FIS-326,3,4,-1,NaN,NaN,NaN,16
1654,16275905,2010,Desertor,ICC-252,3,4,-1,NaN,NaN,NaN,16
2387,16275905,2010,Desertor,ICC-347,3,5,-1,NaN,NaN,NaN,16
3798,16275905,2010,Desertor,ICC-245,2,3,-1,NaN,NaN,NaN,16
5444,16275905,2010,Desertor,ICC-240,2,3,-1,NaN,NaN,NaN,16

In [7]:

ramos_primer_semestre = ['MAT-113', 'MAT-123', 'ICC-141']

# caso 01: seleccionar alumnos que se van antes de finalizar el primer semestre

valid_ruts = df.loc[lambda x: (x['nivel_alumno']!=-1)]['rut'].unique()

df_01 = df.loc[lambda x: ~x.rut.isin(valid_ruts)].loc[lambda x: x.sigla.isin(ramos_primer_semestre)]
invalid_ruts =list( df_01.rut.unique() )

In [8]:
# caso 02: alumnos con convalidaciones

conv_mayor_cohorte =  list(df.loc[lambda x: x['nivel_alumno']>x['max_semestres']].rut.unique())
df_02 = df.loc[lambda x: (x['nivel_alumno']!=-1) & (x['rut'].isin(conv_mayor_cohorte))]
df_02.loc[lambda x: x.nota>=1000,'nivel_alumno'] = 1

In [9]:
# caso 03: eliminar alumnos con convalidaciones 

not_valid_ruts = invalid_ruts + conv_mayor_cohorte

df_valid  = df.loc[lambda x: ~x.rut.isin(not_valid_ruts)].loc[lambda x: x['nivel_alumno']!=-1]

result = df_valid.loc[lambda x: (x.nivel_alumno==1)].groupby('rut')['sigla'].apply(list).reset_index()
result['validacion'] = [sorted(row['sigla']) == sorted(ramos_primer_semestre) for index,row in result.iterrows()]

ruts_no_validos = list(result.loc[lambda x: ~x['validacion']]['rut'].unique())

df_no_valido = df_valid.loc[lambda x: (x.rut.isin(ruts_no_validos))]


ruts_validos = result.loc[lambda x: x['validacion']]['rut'].unique()

df_valido = df_valid.loc[lambda x: (x.rut.isin(ruts_validos))]
df_valido.loc[lambda x: x['nota']>=1000,'nota'] = 4
df_valido.loc[lambda x: x['nota']<1,'nota'] = 1
df_valido.loc[lambda x: (x['nota']>=4) &(x['aprueba']=='REPRUEBA'),'nota'] = 3

In [10]:
#df_valido.head()

frames = [
    df_01.assign(label = 'desercion_antes_1s'),
    df_02.assign(label = 'convalidaciones_erradas'),
    df_no_valido.assign(label = 'no_consistentes'),
    df_valido.assign(label = 'validos'),
]


final_result = pd.concat(frames)

logger.info("ajustes finales")



final_result = final_result.rename(columns = {'aprueba':'estado_aprobacion'})
final_result['ultimo_nivel'] = df.groupby('rut')['nivel_alumno'].transform('max')
final_result['estado_temporal'] = final_result.apply(lambda x: estado_temporal(x['nivel_alumno'],x['ultimo_nivel'],x['estado']), axis=1)

2024-03-27 21:03:49.363 | INFO     | __main__:<module>:13 - ajustes finales

In [11]:
final_result.loc[lambda x: x.rut == 19667341,'estado'] = 'Desertor'

print(len(final_result['rut'].unique()))
final_result.to_csv(path_data + 'estado_del_alumno_2018_1s_clean.csv',index=False,sep=',')

695

**estado_del_alumno_2019_1s**

In [12]:
logger.info("definir rutas de trabajos")

def estado_temporal(nivel_alumno,ultimo_nivel,estado):
    if nivel_alumno!=ultimo_nivel:
        return 'Matriculado'
    else:
        return estado
    
dct_cols = {
    'Rut':'rut',
    'Cohorte de ingreso':'cohorte',
    'Estado 2019-1SEM':'estado',
    'sigla':'sigla',
    'Créditos':'creditos',
    'Nivel Original':'nivel_original',
    'Nivel alumno':'nivel_alumno',
    'Nota':'nota',
    'Oportunidad':'oportunidad',
    'Estado aprobación':'aprueba',
    
}

path_data = '../data/'

logger.info("leer datos")
df = pd.read_csv(path_data + 'estado_del_alumno_2019_1s.csv',sep=',',encoding='Latin-1')
df['sigla'] = df['Sigla'] + '-' + df['Número'].astype(str)


df = df[dct_cols.keys()].rename(columns = dct_cols)#.sort_values(['cohorte','rut','nivel_alumno'])

# agregar notas
cols_nota = ['HOMOLOGACION', 'CONVALIDACION','HOMOLOGACION AUTOMATICA', 'HOMOLOGACION POR COD. DISTINTO']

df.loc[lambda x: x['nota'].isin(cols_nota),"nota"] = "4"
df.loc[lambda x: (x.nota=='-') & (x.aprueba=='R') ,"nota"] = '3'
df.loc[lambda x: (x.nota=='-') & (x.aprueba=='A') ,"nota"] = '4'
df['nota'] = df['nota'].str.replace(',','.').astype(float)
df['nivel_alumno'] = df['nivel_alumno'].str.replace('-','0').astype(int)

# agregar ultimo nivel
df_un = df.groupby('rut')['nivel_alumno'].max().reset_index()
df_un.columns = ['rut','ultimo_nivel']
df_result = df.merge(df_un,on = 'rut',how='left')

# estado temporal
df_result['estado_temporal'] = df_result.apply(lambda x: estado_temporal(x['nivel_alumno'],x['ultimo_nivel'],x['estado']), axis=1)

df_result.head()

2024-03-27 21:03:49.576 | INFO     | __main__:<module>:1 - definir rutas de trabajos
2024-03-27 21:03:49.577 | INFO     | __main__:<module>:25 - leer datos

,rut,cohorte,estado,sigla,creditos,nivel_original,nivel_alumno,nota,oportunidad,aprueba,ultimo_nivel,estado_temporal
0,13230598,2016,Desertor,MAT-113,6,1,1,6.5,1,A,2,Matriculado
1,13230598,2016,Desertor,MAT-213,4,2,1,6.9,1,A,2,Matriculado
2,13230598,2016,Desertor,MAT-123,6,1,1,6.9,1,A,2,Matriculado
3,13230598,2016,Desertor,MAT-203,4,2,1,6.6,1,A,2,Matriculado
4,13230598,2016,Desertor,MAT-204,4,3,2,6.7,1,A,2,Desertor

In [13]:
df_result.loc[lambda x: x.rut == 19667341,'estado'] = 'Desertor'


print(len(df_result['rut'].unique()))
df_result.to_csv(path_data + 'estado_del_alumno_2019_1s_clean.csv',index=False,sep=',')

783